<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="~{fragments/fragments :: head}"></div>

<title>Create new pizza</title>
</head>

<body>

	<div th:replace="~{fragments/navbar :: navbar('pizza')}"></div>
	<div class="container py-3">
		<form id="pizza-form" method="post" th:action="@{/pizza/store}" th:object="${pizza}">
			<div class="row">
				<div class="col-md-6">
					<label class="form-label" for="name">Name</label> <input
						th:field="${pizza.name}" type="text" name="name"
						placeholder="Name" class="form-control" th:errorClass="is-invalid">
					<div>
						<ul>
							<li th:each="error : ${#fields.errors('name')}"
								th:text="${error}"></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-6">
					<label class="form-label" for="price">Price</label> 
					<input
						th:field="${pizza.price}" type="number" name="price"
						placeholder="Price" class="form-control" th:errorClass="is-invalid">
					<div>
						<ul>
							<li th:each="error : ${#fields.errors('price')}"
								th:text="${error}"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="form-label" for="description">Description</label> 
					<textarea rows="3" th:field="${pizza.description}" name="description"
						placeholder="Name" class="form-control" th:errorClass="is-invalid" >
					</textarea>
					<div>
						<ul>
							<li th:each="error : ${#fields.errors('description')}"
								th:text="${error}"></li>
						</ul>
					</div>
				</div>
				</div>
			<div class="row">
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
		</form>

	</div>



	<div th:replace="~{fragments/fragments :: scripts}"></div>
</body>
</html>