<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="~{fragments/fragments :: head}"></div>

<title>Create new offer</title>
</head>

<body>

	<div th:replace="~{fragments/navbar :: navbar('pizza')}"></div>
	<div class="container">
		<h1 th:text="|Create an offer for ${specialOffer.pizza.name}|"></h1>
		
		<form class="row" method="post" th:action="@{/specialOffers/store}" th:object="${specialOffer}">
			
				<div class="col-12">
					<label class="form-label" for="title">Title</label> 
					<input
						th:field="*{title}" type="text" name="title"
						placeholder="Title" class="form-control" th:errorClass="is-invalid">
					<div>
						<ul>
							<li th:each="error : ${#fields.errors('title')}"
								th:text="${error}"></li>
						</ul>
					</div>
				</div>
			
				<div class="col-md-6">
					<label class="form-label" for="startingDate">Starting date</label> 
					<input
						th:field="*{startingDate}" type="date" name="startingDate"
						placeholder="startingDate" class="form-control" th:errorClass="is-invalid">
					<div>
						<ul>
							<li th:each="error : ${#fields.errors('startingDate')}"
								th:text="${error}"></li>
						</ul>
					</div>
				</div>
			
				<div class="col-md-6">
					<label class="form-label" for="endingDate">Ending date</label> 
					<input
						th:field="*{endingDate}" type="date" name="endingDate"
						placeholder="startingDate" class="form-control" th:errorClass="is-invalid">
					<div>
						<ul>
							<li th:each="error : ${#fields.errors('endingDate')}"
								th:text="${error}"></li>
						</ul>
					</div>
				</div>
				<input type="hidden" th:field="*{pizza}">
				
				<div class="col-12">
					<button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Save</button>
					<a class="btn btn-danger" th:href="@{|/pizza/show/*{pizza.id}|}"><i class="fas fa-exit"></i> Cancel</a>
				</div>
		</form>
		
		
	</div>
	
	<div th:replace="~{fragments/fragments :: scripts}"></div>
</body>
</html>